<script src="https://unpkg.com/vue/dist/vue.js">
</script>

<div id="app">
  <input type="text" v-on:input="changeTitle">
  <h1 v-once>{{ title }}</h1>
  <p> {{ sayHello() }} - <a v-bind:href="link">Google</a> </p> 
  <p> {{ finishedLink }} </p>
  <p v-html="finishedLink"></p>
</div>
