<script src="https://unpkg.com/vue/dist/vue.js">
</script>

<div id="exercise">
  <p>VueJS is pretty cool - {{name}} ({{age}})</p>
  <p>{{ age*3}}</p>
  <p v-once>{{ outputRandom() }} </p>
  <div>
    <img :src="image" style="width:100px;height:100px">
  </div>
  <div>
    <input type="text" v-on:input="inputName">
  </div>
</div>