<script src="https://unpkg.com/vue/dist/vue.js">
</script>

<div id="app">
    <button @click="counter++">Increase</button>
    <button @click="counter--">Decrease</button>
    <button @click="secondCounter--">Increase second counter</button>
    <p>Counter: {{ counter }} | {{ secondCounter }}</p>
    <p>Result: {{ result() }}</p>
    <p>Result: {{ output }}</p>
</div>
