<script src="https://unpkg.com/vue/dist/vue.js">
</script>

<div id="app">
  <input type="text" v-on:input="changeTitle">
  <p> {{ title }} - <a v-bind:href="link">Google</a> </p> 
  <p> {{ printLinks() }} - <a v-bind:href="link2">Udemy</a> </p>
</div>
